# Ignore any generated TypeScript -> JavaScript files
.github/actions/**/*.js

node_modules/*

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

.idea

# Optional eslint cache
.eslintcache

# Mac crap
.DS_Store